*{margin: 0px;
 padding: 0px;

}

*{
font-size: 30px;
}


.bismi{
 border-top: 5px solid white;
 color: brown;
 background-color: white;
}
body{
background-color: #5d4b27;
color: white;
text-indent: 30px;
direction: rtl;


}
.myimg{
border: 5px solid orangered;
background-image: url('../img/alfatiha.jpg');
background-repeat: no-repeat;
border-radius: 18px ;
width: 500px;
height: 500px;
margin-right: 30%;
}

p {
margin-right:50px ;
margin-left: 50px;
line-height: 1.5;
word-spacing: 18px;
text-align: justify;

}

li a{
text-decoration: none;
padding: 15px;
color: white;
display: block;
}
li{
border-bottom:2px solid white;

}
li:last-child{
border-bottom: none;

}
li a:hover{
background-color: white;
color: brown;
}
h1{

background-color: white;
color: brown;

}
/* هنا زر الإدخال والإخراج*/
.menu{
top: 0px;
position: absolute;
float: right;
right: -290px;
width: 290px;
background-color: brown;
color: white;
z-index: 999;
transition: all 3.5s;


}
.menu-open{
right: 0px;
background-color: brown;
border-left: 8px solid;

}
.close-btn{
font-size: 36px;
display: block;
height: 60px;
padding:0 10px;
cursor: pointer;
position: absolute;
right: 260px;
float: right;
background-color:brown;
line-height: 60px;
border: 5px solid white;
transition: all 3.5s;
}

p::selection{
background-color : yellow;
color            : brown;

}
.close-btn:hover{
background-color: white;
color: brown;
border: 5px dashed brown;

}

#son{
display: none;
background-color:darkgray;
width: 100% !important;
text-align: center;
border: solid 5px white;
}

#father{
border: solid 5px white;
background-color:rgba(165, 42, 42, 0.246);
color:white;
text-align:center;
width: 100% !important;

}
